<div id="<%= tournamentId %>" class="<%= profileId %>" style="display:inline-block;">
    <div class="col-lg-12">
        <div class="col-lg-3">
            <label><%= dataLiterals.category %></label>
        </div>
        <div class="col-lg-8">
            <select style="width:100%" id="category">
                <option selected="true"><%= dataLiterals.placeholderCategory %></option>
            </select>
        </div>
        <div class="col-lg-12"><hr></div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-3">
            <label><%= dataLiterals.pair %></label>
        </div>
        <div class="col-lg-8">
            <select id="pair" style="width:100%" name="<%= userLogged %>">
              <option value="3620194" selected="selected"><%= dataLiterals.placeholderPair %></option>
            </select>
        </div>
        <div class="col-lg-12"><hr></div>
    </div>
    <div class="col-lg-12">
        <label><%= dataLiterals.observations %></label>
    </div>
    <div class="col-lg-12" id="observations">
        
    </div>
    <div class="col-lg-4" style="margin-top:20px">
        <button class="btn btn-default" id="insertObservation"><%= dataLiterals.addObservation %></button>
    </div>
</div>