<div class="col-lg-12 observation">
	<div class="col-lg-4">
		<input type="date" class="date" placeholder="<%= dataLiterals.date %>">
	</div>
	<div class="col-lg-3">
		<input type="text" class="fromHour" placeholder="<%= dataLiterals.fromHour %>">
	</div>
	<div class="col-lg-3">
		<input type="text" class="toHour" placeholder="<%= dataLiterals.toHour %>">
	</div>
	<div class="col-lg-1">
		<input type="checkbox" class="available" placeholder="<%= dataLiterals.available %>">
	</div>
	<div class="col-lg-1">
		<button id="deleteObservation"><i class="fa fa-times"></i></button>
	</div>
</div>
