<div class="col-lg-12 scoreTemplate">
    <div class="pair1 col-lg-12">
        <div class="pairNames col-lg-5">
            <span><%= content.pair1.user1.name %> <%= content.pair1.user1.lastName %></span><br>
            <span><%= content.pair1.user2.name %> <%= content.pair1.user2.lastName %></span>
        </div>
        <div class="resultPair1 resultPair col-lg-7">
            <select id="set1Pair1" class="selectScore"></select>
            <select id="set2Pair1" class="selectScore"></select>
            <select id="set3Pair1" class="selectScore"></select>
        </div>
    </div>
    <div class="pair2 col-lg-12" style="margin-top: 30px">
        <div class="pairNames col-lg-5">
            <span><%= content.pair2.user1.name %> <%= content.pair2.user1.lastName %></span><br>
            <span><%= content.pair2.user2.name %> <%= content.pair2.user2.lastName %></span>
        </div>
        <div class="resultPair2 resultPair col-lg-7">
            <select id="set1Pair2" class="selectScore"></select>
            <select id="set2Pair2" class="selectScore"></select>
            <select id="set3Pair2" class="selectScore"></select>
        </div>
    </div>
</div>