<div id="closeInscriptionModalTemplate">
    <div class="col-lg-12">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <label><%= dataLiterals.totalInscriptionsTournament %> <%= data.totalTournament %></label>
        </div>
        <hr style="width: 100%">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <label><%= dataLiterals.insertNumberOfPairsInEachGroup %></label>
        </div>
    </div>
    <% _.each(data.category, function(cat, index) { %>
        <div class="input-group col-lg-12">
            <div class="col-lg-4" style="margin-bottom: 10px;">
                <label><%= index %></label>
            </div>
            <% var indexKey = index.replace(' ', '_'); %>
            <div class="col-lg-2 <%= indexKey %>NumGroup" style="margin-bottom: 10px;">
                <input type="number" class="form-control" aria-label="...">
            </div>
            <div class="col-lg-6" style="margin-bottom: 10px;">
                <label><%= cat %> <%= dataLiterals.inscriptionsInThisCategory %></label>
            </div>
        </div>
    <% }); %>
</div>