<div id="<%= profileId %>" class="<%= profileId %>" style="display:inline-block;width:100%">
    <div class="col-lg-6">
        <span><strong><%= dataLiterals.selectTrack %></strong></span>
    </div>
    <div class="col-lg-4">
        <input type="number" class="selectTrack form-control" id="selectTrack">
    </div>
    <div id="ranges" class="col-lg-12" style="margin-top: 50px"></div>
    <div class="col-lg-4" style="margin-top: 20px">
        <button id="insertRange" class="btn btn-default"><%= dataLiterals.insertRange %></button>
    </div>
</div>