<div class="observation" style="margin-left:10px;margin-right: 10px;margin-top: 10px;margin-bottom: 35px">
	<input type='text' class='date form-control' placeholder='<%= dataLiterals.date %>'>
	<input type='number' class='fromHour form-control' placeholder='<%= dataLiterals.fromHour %>'>
	<input type='number' class='toHour form-control' placeholder='<%= dataLiterals.toHour %>'>
	<button name="<%= inscription %>" id="addObservation" class="btn btn-default buttonSaveObservation col-lg-12"><%= dataLiterals.add %></button>
</div>

