.buttonBasicInfo{
	background-color: #3c763d;
	color: #fff;
}
.buttonInscription, .buttonObservations, .buttonNewObservation, .buttonAnnotations{
	background-color: #3c763d;
	color: #fff;
}
.deleteButton{
	margin-left:25px;
}
#createAnnotation{
	margin-top:20px;
	float: right;
}