<div class="col-lg-6">
        <ul id="<%= listId %>col1" class="display list-group">
            <% _.each(dataTemplate, function(item, index) { 
                if(item.visible == true && index < dataTemplate.length/2) { %>
                <li class="<%= item.key %> list-group-item" style="height:40px">
                    <label class="col-lg-6"><%= item.text %></label><span class="col-lg-6"><%= item.data %></span>
                </li>
            <%  }
            }); %>
        </ul>
</div>
<div class="col-lg-6">
    <ul id="<%= listId %>col2" class="display list-group">
        <% _.each(dataTemplate, function(item, index) { 
            if(item.visible == true && index >= dataTemplate.length/2) { %>
            <li class="<%= item.key %> list-group-item" style="height:40px">
                <label class="col-lg-6"><%= item.text %></label><span class="col-lg-6"><%= item.data %></span>
            </li>
        <%  }
        }); %>
    </ul>
    <div class="col-lg-7"></div>
    <button id="profileBasicInfo" class="col-lg-5 btn btn-default buttonBasicInfo"><%= dataLiterals.buttonBasicInfo %></button>
</div>